{extend name='common/container'}
{block name="content"}
<div style="margin:0 15px 15px 15px;">
<el-row :gutter="10">
<el-col :span="4" class="hidden-sm-and-down">
	<left-tree :treelist="treeList" :search_data.sync="searchData" fieldname="zclx_id" @refesh_list="index"></left-tree>
</el-col>
<el-col :xs="24" :sm="24" :md="20" :lg="20">
<el-card shadow="never" :style="!urlobj.dialogstate ? 'min-height:650px;' : ''">
<div v-if="urlobj.jumpstate" slot="header" class="clearfix">
	<span style="font-size:14px;">关联资产管理</span>
	<el-button size="small" @click="back" type="primary" icon="el-icon-back" style="float:right">返回</el-button>
 </div>
<div v-if="search_visible" id="search" class="search">
	<el-form ref="form" size="small" :model="searchData" inline>
		<el-form-item label="资产类型">
			<el-select   style="width:150px" v-model="searchData.zclx_id" filterable clearable placeholder="请选择">
				<el-option v-for="(item,i) in zclx_id" :key="i" :label="item.key" :value="item.val"></el-option>
			</el-select>
		</el-form-item>
		<el-form-item label="楼宇/单元">
			<treeselect style="width:150px" :default-expand-level="2" v-model="searchData.louyu_id" :options="louyu_id" :normalizer="normalizer" :show-count="true" placeholder="请选择楼宇/单元"/>
		</el-form-item>
		<el-form-item label="停车场地">
			<el-select @change="selectCewei_id"  style="width:150px" v-model="searchData.tccd_id" filterable clearable placeholder="请选择">
				<el-option v-for="(item,i) in tccd_id" :key="i" :label="item.key" :value="item.val"></el-option>
			</el-select>
		</el-form-item>
		<el-form-item label="车位资产">
			<el-select   style="width:150px" v-model="searchData.cewei_id" filterable clearable placeholder="请选择">
				<el-option v-for="(item,i) in cewei_id" :key="i" :label="item.key" :value="item.val"></el-option>
			</el-select>
		</el-form-item>
		<el-form-item label="住户类型">
			<el-select   style="width:150px" v-model="searchData.khlx_id" filterable clearable placeholder="请选择">
				<el-option v-for="(item,i) in khlx_id" :key="i" :label="item.key" :value="item.val"></el-option>
			</el-select>
		</el-form-item>
		<el-form-item label="住户属性">
			<el-select style="width:150px" v-model="searchData.glzcgl_type" filterable clearable placeholder="请选择">
				<el-option key="0" label="主住户" value="1"></el-option>
			</el-select>
		</el-form-item>
		<search-tool :search_data.sync="searchData" @refesh_list="index"></search-tool>
	</el-form>
</div>
<div class="btn-group" style="margin-top:10px;margin-bottom:10px;">
	<div>
		<el-button v-for="item in button_group" :key="item.access" v-if="checkPermission(item.access,'{:implode(',',session('shop.access'))}','{:session('shop.role_id')}',[1])" :disabled="$data[item.disabled]" :type="item.color" size="mini" :icon="item.icon" @click="fn(item.clickname)">
			<span v-if="item.batch" v-text="$data['batchUpdateStatus']?'批量保存':'批量编辑'"></span>
			<span v-else v-text="item.name"></span>
		</el-button>
	</div>
	<div><table-tool :search_visible.sync="search_visible"   @refesh_list="index"></table-tool></div>
</div>
<el-table :row-class-name="rowClass" @selection-change="selection"  @row-click="handleRowClick"  row-key="glzcgl_id"  :header-cell-style="{ background: '#eef1f6', color: '#606266' }" @sort-change='sortChange' v-loading="loading"  ref="multipleTable" border class="eltable" :data="list"  style="width: 100%">
	<el-table-column align="center" type="selection" width="42"></el-table-column>
	<el-table-column align="center"  property="zclx.zclx_name"  label="资产类型" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column align="center"  property="louyu.louyu_name"  label="楼宇/单元" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column align="center"  property="fcxx.fcxx_fjbh"  label="房产名称" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column align="center"  property="cewei.cewei_name"  label="车位资产" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column align="center"  property="start_time"  label="开始日期" show-overflow-tooltip width="">
		<template slot-scope="scope">
			{{parseTime(scope.row.start_time,'{y}-{m}-{d}')}}
		</template>
	</el-table-column>
	<el-table-column align="center"  property="end_time"  label="结束日期" show-overflow-tooltip width="">
		<template slot-scope="scope">
			{{parseTime(scope.row.end_time)}}
		</template>
	</el-table-column>
	<el-table-column align="center"  property="khlx.khlx_name"  label="住户类型" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column align="center"  property="glzcgl_type"  label="住户属性" show-overflow-tooltip width="">
		<template slot-scope="scope">
			<div v-if="scope.row.glzcgl_type">
				{{formatStr(scope.row.glzcgl_type,'[{"key":"主住户","val":"1","label_color":"primary"}]')}}
			</div>
		</template>
	</el-table-column>
	<el-table-column align="center"  property="shopadmin.cname"  label="操作人员" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column align="center"  property="glzcgl_time"  label="操作时间" show-overflow-tooltip width="">
		<template slot-scope="scope">
			{{parseTime(scope.row.glzcgl_time,'{y}-{m}-{d}')}}
		</template>
	</el-table-column>
	<el-table-column :fixed="ismobile()?false:'right'" label="操作" align="center" width="190">
		<template slot-scope="scope">
			<div v-if="scope.row.glzcgl_id">
				<el-button v-if="checkPermission('/shop/Glzcgl/update.html','{:implode(",",session("shop.access"))}','{:session("shop.role_id")}',[1])" size="mini" icon="el-icon-edit" type="primary" @click="update(scope.row)" >修改</el-button>
				<el-button v-if="checkPermission('/shop/Glzcgl/delete.html','{:implode(",",session("shop.access"))}','{:session("shop.role_id")}',[1])" size="mini" icon="el-icon-delete" type="danger" @click="del(scope.row)" >删除</el-button>
			</div>
		</template>
	</el-table-column>
</el-table>
<Page :total="page_data.total" :page.sync="page_data.page" :limit.sync="page_data.limit" @pagination="index" />
</el-card>
</el-col>
</el-row>

<!--添加-->
<Add :show.sync="dialog.addDialogStatus" size="small" @refesh_list="index"></Add>
<!--修改-->
<Update :info="updateInfo" :show.sync="dialog.updateDialogStatus" size="small" @refesh_list="index"></Update>
<!--查看详情-->
<Detail :info="detailInfo" :show.sync="dialog.detailDialogStatus" size="small" @refesh_list="index"></Detail>

</div>

{/block}
{block name="script"}
<script src="__PUBLIC__/assets/js/app.js"></script>
<script src="__PUBLIC__/assets/libs/treeselect/vue-treeselect.umd.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/assets/libs/treeselect/vue-treeselect.min.css">
<script src="__PUBLIC__/components/shop/glzcgl/add.js?v=<?php echo rand(1000,9999)?>"></script>
<script src="__PUBLIC__/components/shop/glzcgl/update.js?v=<?php echo rand(1000,9999)?>"></script>
<script src="__PUBLIC__/components/shop/glzcgl/detail.js?v=<?php echo rand(1000,9999)?>"></script>
<script>
new Vue({
	el: '#app',
	components:{
		'treeselect':VueTreeselect.Treeselect,
	},
	data: function() {
		return {
			dialog: {
				addDialogStatus : false,
				updateDialogStatus : false,
				detailDialogStatus : false,
			},
			searchData:{},
			button_group:[
				{name:'添加',color:'success',access:'/shop/Glzcgl/add.html',icon:'el-icon-plus',disabled:'',clickname:'add'},
				{name:'修改',color:'primary',access:'/shop/Glzcgl/update.html',icon:'el-icon-edit',disabled:'single',clickname:'update'},
				{name:'删除',color:'danger',access:'/shop/Glzcgl/delete.html',icon:'el-icon-delete',disabled:'multiple',clickname:'del'},
				{name:'查看详情',color:'info',access:'/shop/Glzcgl/detail.html',icon:'el-icon-view',disabled:'single',clickname:'detail'},
			],
			loading: false,
			page_data: {
				limit: 20,
				page: 1,
				total:20,
			},
			order:'',
			sort:'',
			ids: [],
			single:true,
			multiple:true,
			search_visible:true,
			list: [],
			treeList:[],
			zclx_id: [],
			louyu_id: [],
			tccd_id: [],
			cewei_id: [],
			khlx_id: [],
			updateInfo:{},
			detailInfo:{},
		}
	},
	methods:{
		index(){
			let param = {limit:this.page_data.limit,page:this.page_data.page,order:this.order,sort:this.sort}
			Object.assign(param, this.searchData,this.urlobj)
			this.loading = true
			axios.post(base_url + '/Glzcgl/index',param).then(res => {
				if(res.data.status == 200){
					this.list = res.data.data.data
					this.page_data.total = res.data.data.total
					this.loading = false
					if(this.page_data.page == 1){
						this.treeList = res.data.sql_field_data.zclx_ids
						this.zclx_id = res.data.sql_field_data.zclx_ids
						this.louyu_id = res.data.sql_field_data.louyu_ids
						this.tccd_id = res.data.sql_field_data.tccd_ids
						this.khlx_id = res.data.sql_field_data.khlx_ids
					}
				}else{
					this.$message.error(res.data.msg);
				}
			})
		},
		updateExt(row,field){
			if(row.glzcgl_id){
				axios.post(base_url + '/Glzcgl/updateExt',{glzcgl_id:row.glzcgl_id,[field]:row[field]}).then(res => {
					if(res.data.status == 200){
						this.$message({message: res.data.msg, type: 'success'})
					}else{
						this.$message.error(res.data.msg)
					}
				})
			}
		},
		add(){
			this.dialog.addDialogStatus = true
		},
		update(row){
			let id = row.glzcgl_id ? row.glzcgl_id : this.ids.join(',')
			axios.post(base_url + '/Glzcgl/getUpdateInfo',{glzcgl_id:id}).then(res => {
				if(res.data.status == 200){
					this.dialog.updateDialogStatus = true
					this.updateInfo = res.data.data
				}else{
					this.$message.error(res.data.msg)
				}
			})
		},
		del(row){
			this.$confirm('确定操作吗?', '提示', {
				confirmButtonText: '确定',
				cancelButtonText: '取消',
				type: 'warning'
			}).then(() => {
				let ids = row.glzcgl_id ? row.glzcgl_id : this.ids.join(',')
				axios.post(base_url + '/Glzcgl/delete',{glzcgl_id:ids}).then(res => {
					if(res.data.status == 200){
						this.$message({message: res.data.msg, type: 'success'})
						this.index()
					}else{
						this.$message.error(res.data.msg)
					}
				})
			}).catch(() => {})
		},
		detail(row){
			this.dialog.detailDialogStatus = true
			this.detailInfo = {glzcgl_id:row.glzcgl_id ? row.glzcgl_id : this.ids.join(',')}
		},
		selection(selection) {
			this.ids = selection.map(item => item.glzcgl_id)
			this.single = selection.length != 1
			this.multiple = !selection.length
		},
		handleRowClick(row, rowIndex,event){
			if(event.target.className !== 'el-input__inner'){
				this.$refs.multipleTable.toggleRowSelection(row)
			}
		},
		rowClass ({ row, rowIndex }) {
			for(let i=0;i<this.ids.length;i++) {
				if (row.glzcgl_id === this.ids[i]) {
					return 'rowLight'
				}
			}
		},
		sortChange(val){
			if(val.order == 'descending'){
				this.order= 'desc'
			}
			if(val.order == 'ascending'){
				this.order= 'asc'
			}
			this.sort = val.prop
			this.index()
		},
		back(){
			history.back(-1)
		},
		/** 转换菜单数据结构 */
		normalizer(node) {
			if (node.children && !node.children.length) {
				delete node.children
			}
			return {
				id: node.val,
				label: node.key,
				children: node.children
			}
		},
		selectFcxx_id(val){
			axios.post(base_url + '/Glzcgl/getFcxx_id',{louyu_id:val}).then(res => {
				if(res.data.status == 200){
					this.fcxx_id = res.data.data
				}
			})
		},
		selectCewei_id(val){
			axios.post(base_url + '/Glzcgl/getCewei_id',{tccd_id:val}).then(res => {
				if(res.data.status == 200){
					this.cewei_id = res.data.data
				}
			})
		},
		fn(method){
			this[method](this.ids)
		},
	},
	mounted(){
		this.index()
	},
})
</script>
{/block}
