{extend name='common/container'}
{block name="content"}
<div style="margin:0 15px 15px 15px;">
<el-card shadow="never" style="min-height:650px;">
<div v-if="search_visible" id="search" class="search">
	<el-form ref="form" size="small" :model="searchData" inline>
		<el-form-item label="公司名称">
			<el-input id="shop_name" v-model="searchData.shop_name"  style="width:150px;" placeholder="请输入公司名称"></el-input>
		</el-form-item>
		<search-tool :search_data.sync="searchData" @refesh_list="index"></search-tool>
	</el-form>
</div>
<div class="btn-group" style="margin-top:10px;margin-bottom:10px;">
	<div>
		<el-button v-for="item in button_group" :key="item.access" v-if="checkPermission(item.access,'{:implode(',',session('admin.access'))}','{:session('admin.role_id')}',[1])" :disabled="$data[item.disabled]" :type="item.color" size="mini" :icon="item.icon" @click="fn(item.clickname)">
			<span v-if="item.batch" v-text="$data['batchUpdateStatus']?'批量保存':'批量编辑'"></span>
			<span v-else v-text="item.name"></span>
		</el-button>
	</div>
	<div><table-tool :search_visible.sync="search_visible"   @refesh_list="index"></table-tool></div>
</div>
<el-table highlight-current-row @current-change="selection"  row-key="shop_id"  :header-cell-style="{ background: '#eef1f6', color: '#606266' }" @sort-change='sortChange' v-loading="loading"  ref="multipleTable" border class="eltable" :data="list"  style="width: 100%">
	<el-table-column align="center" type = '' property="shop_id"  label="编号"  width="70">
	</el-table-column>
	<el-table-column align="center"  property="shop_name"  label="公司名称" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column align="center"  property="start_date"  label="开始日期" show-overflow-tooltip width="">
		<template slot-scope="scope">
			{{parseTime(scope.row.start_date,'{y}-{m}-{d}')}}
		</template>
	</el-table-column>
	<el-table-column align="center"  property="end_date"  label="到期日期" show-overflow-tooltip width="">
		<template slot-scope="scope">
			{{parseTime(scope.row.end_date,'{y}-{m}-{d}')}}
		</template>
	</el-table-column>
	<el-table-column align="center"  property="goumai"  label="购买功能" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column align="center"  property="restrict_num"  label="小区上限" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column :fixed="ismobile()?false:'right'" label="操作" align="center" width="290">
		<template slot-scope="scope">
			<div v-if="scope.row.shop_id">
				<el-button v-if="checkPermission('/admin/Shop/update.html','{:implode(",",session("admin.access"))}','{:session("admin.role_id")}',[1])" size="mini" icon="el-icon-edit" type="primary" @click="update(scope.row)" >修改</el-button>
				<el-button v-if="checkPermission('/admin/Shop/Wxcaidan.html','{:implode(",",session("admin.access"))}','{:session("admin.role_id")}',[1])" size="mini" icon="el-icon-plus" type="success" @click="Wxcaidan(scope.row)" >公众号菜单导航</el-button>
			</div>
		</template>
	</el-table-column>
</el-table>
<Page :total="page_data.total" :page.sync="page_data.page" :limit.sync="page_data.limit" @pagination="index" />
</el-card>

<!--添加-->
<Add :show.sync="dialog.addDialogStatus" size="small" @refesh_list="index"></Add>
<!--修改-->
<Update :info="updateInfo" :show.sync="dialog.updateDialogStatus" size="small" @refesh_list="index"></Update>
<!--查看详情-->
<Detail :info="detailInfo" :show.sync="dialog.detailDialogStatus" size="small" @refesh_list="index"></Detail>
<!--账号管理-->
<DialogUrl :info="dialogUrlInfo" :show.sync="dialog.dialogUrlDialogStatus" size="small"></DialogUrl>
<!--公众号菜单导航-->
<Wxcaidan :info="WxcaidanInfo" :show.sync="dialog.WxcaidanDialogStatus" size="small"></Wxcaidan>

</div>

{/block}
{block name="script"}
<script src="__PUBLIC__/assets/js/app.js"></script>
<script src="__PUBLIC__/components/admin/shop/add.js?v=<?php echo rand(1000,9999)?>"></script>
<script src="__PUBLIC__/components/admin/shop/update.js?v=<?php echo rand(1000,9999)?>"></script>
<script src="__PUBLIC__/components/admin/shop/detail.js?v=<?php echo rand(1000,9999)?>"></script>
<script src="__PUBLIC__/components/admin/shop/dialogUrl.js?v=<?php echo rand(1000,9999)?>"></script>
<script src="__PUBLIC__/components/admin/shop/Wxcaidan.js?v=<?php echo rand(1000,9999)?>"></script>
<script>
new Vue({
	el: '#app',
	components:{
	},
	data: function() {
		return {
			dialog: {
				addDialogStatus : false,
				updateDialogStatus : false,
				detailDialogStatus : false,
				dialogUrlDialogStatus : false,
				WxcaidanDialogStatus : false,
			},
			searchData:{},
			button_group:[
				{name:'添加',color:'success',access:'/admin/Shop/add.html',icon:'el-icon-plus',disabled:'',clickname:'add'},
				{name:'修改',color:'primary',access:'/admin/Shop/update.html',icon:'el-icon-edit',disabled:'single',clickname:'update'},
				{name:'删除',color:'danger',access:'/admin/Shop/delete.html',icon:'el-icon-delete',disabled:'single',clickname:'del'},
				{name:'查看详情',color:'info',access:'/admin/Shop/detail.html',icon:'el-icon-view',disabled:'single',clickname:'detail'},
				{name:'账号管理',color:'warning',access:'/admin/Shop/dialogUrl.html',icon:'el-icon-plus',disabled:'single',clickname:'dialogUrl'},
			],
			loading: false,
			page_data: {
				limit: 20,
				page: 1,
				total:20,
			},
			order:'',
			sort:'',
			ids: [],
			single:true,
			search_visible:false,
			list: [],
			updateInfo:{},
			detailInfo:{},
			dialogUrlInfo:{},
			WxcaidanInfo:{},
		}
	},
	methods:{
		index(){
			let param = {limit:this.page_data.limit,page:this.page_data.page,order:this.order,sort:this.sort}
			Object.assign(param, this.searchData,this.urlobj)
			this.loading = true
			axios.post(base_url + '/Shop/index',param).then(res => {
				if(res.data.status == 200){
					this.list = res.data.data.data
					this.page_data.total = res.data.data.total
					this.loading = false
				}else{
					this.$message.error(res.data.msg);
				}
			})
		},
		updateExt(row,field){
			if(row.shop_id){
				axios.post(base_url + '/Shop/updateExt',{shop_id:row.shop_id,[field]:row[field]}).then(res => {
					if(res.data.status == 200){
						this.$message({message: res.data.msg, type: 'success'})
					}else{
						this.$message.error(res.data.msg)
					}
				})
			}
		},
		add(){
			this.dialog.addDialogStatus = true
		},
		update(row){
			let id = row.shop_id ? row.shop_id : this.ids.join(',')
			axios.post(base_url + '/Shop/getUpdateInfo',{shop_id:id}).then(res => {
				if(res.data.status == 200){
					this.dialog.updateDialogStatus = true
					this.updateInfo = res.data.data
				}else{
					this.$message.error(res.data.msg)
				}
			})
		},
		del(row){
			this.$confirm('确定操作吗?', '提示', {
				confirmButtonText: '确定',
				cancelButtonText: '取消',
				type: 'warning'
			}).then(() => {
				let ids = row.shop_id ? row.shop_id : this.ids.join(',')
				axios.post(base_url + '/Shop/delete',{shop_id:ids}).then(res => {
					if(res.data.status == 200){
						this.$message({message: res.data.msg, type: 'success'})
						this.index()
					}else{
						this.$message.error(res.data.msg)
					}
				})
			}).catch(() => {})
		},
		detail(row){
			this.dialog.detailDialogStatus = true
			this.detailInfo = {shop_id:row.shop_id ? row.shop_id : this.ids.join(',')}
		},
		dialogUrl(row){
			let ids = row.shop_id ? row.shop_id : this.ids.join(',')
			let data = {}
			this.list.forEach((item,i) => {
				if(item.shop_id == ids){
					data = this.list[i]
				}
			})
			this.dialogUrlInfo = data
			this.dialog.dialogUrlDialogStatus = true
		},
		Wxcaidan(row){
			let ids = row.shop_id ? row.shop_id : this.ids.join(',')
			let data = {}
			this.list.forEach((item,i) => {
				if(item.shop_id == ids){
					data = this.list[i]
				}
			})
			this.WxcaidanInfo = data
			this.dialog.WxcaidanDialogStatus = true
		},
		selection(selection) {
			this.ids = []
			this.ids.push(selection.shop_id)
			this.single = false
		},
		sortChange(val){
			if(val.order == 'descending'){
				this.order= 'desc'
			}
			if(val.order == 'ascending'){
				this.order= 'asc'
			}
			this.sort = val.prop
			this.index()
		},
		fn(method){
			this[method](this.ids)
		},
	},
	mounted(){
		this.index()
	},
})
</script>
{/block}
