{extend name='common/container'}
{block name="content"}
<div style="margin:0 15px 15px 15px;">
<el-card shadow="never" :style="!urlobj.dialogstate ? 'min-height:650px;' : ''">
<div v-if="urlobj.jumpstate" slot="header" class="clearfix">
	<span style="font-size:14px;">员工信息</span>
	<el-button size="small" @click="back" type="primary" icon="el-icon-back" style="float:right">返回</el-button>
 </div>
<div v-if="search_visible" id="search" class="search">
	<el-form ref="form" size="small" :model="searchData" inline>
		<el-form-item label="在职情况">
			<el-select style="width:150px" v-model="searchData.ryxx_zaizhi" filterable clearable placeholder="请选择">
				<el-option key="0" label="在职" value="1"></el-option>
				<el-option key="1" label="离职" value="2"></el-option>
			</el-select>
		</el-form-item>
		<el-form-item label="开户银行">
			<el-input id="ryxx_khh" v-model="searchData.ryxx_khh"  style="width:150px;" placeholder="请输入开户银行"></el-input>
		</el-form-item>
		<el-form-item label="银行卡号">
			<el-input id="ryxx_yhkh" v-model="searchData.ryxx_yhkh"  style="width:150px;" placeholder="请输入银行卡号"></el-input>
		</el-form-item>
		<search-tool :search_data.sync="searchData" @refesh_list="index"></search-tool>
	</el-form>
</div>
<div class="btn-group" style="margin-top:10px;margin-bottom:10px;">
	<div>
		<el-button v-for="item in button_group" :key="item.access" v-if="checkPermission(item.access,'{:implode(',',session('shop.access'))}','{:session('shop.role_id')}',[1])" :disabled="$data[item.disabled]" :type="item.color" size="mini" :icon="item.icon" @click="fn(item.clickname)">
			<span v-if="item.batch" v-text="$data['batchUpdateStatus']?'批量保存':'批量编辑'"></span>
			<span v-else v-text="item.name"></span>
		</el-button>
	</div>
	<div><table-tool :search_visible.sync="search_visible"   @refesh_list="index"></table-tool></div>
</div>
<el-table :row-class-name="rowClass" @selection-change="selection"  @row-click="handleRowClick"  row-key="ryxx_id"  :header-cell-style="{ background: '#eef1f6', color: '#606266' }" @sort-change='sortChange' v-loading="loading"  ref="multipleTable" border class="eltable" :data="list"  style="width: 100%">
	<el-table-column align="center" type="selection" width="42"></el-table-column>
	<el-table-column align="center" type = '' property="ryxx_id"  label="编号"  width="70">
	</el-table-column>
	<el-table-column align="center"  property="xqgl.xqgl_name"  label="开资项目" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column align="center"  property="shopadmin.cname"  label="员工姓名" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column align="center"  property="ryxx_addtime"  label="入职时间" show-overflow-tooltip width="">
		<template slot-scope="scope">
			{{parseTime(scope.row.ryxx_addtime,'{y}-{m}-{d}')}}
		</template>
	</el-table-column>
	<el-table-column align="center"  property="ryxx_xinzi"  label="薪资标准" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column align="center"  property="ryxx_gzjg"  label="工资结构" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column align="center"  property="ryxx_baoxian"  label="保险情况" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column align="center"  property="ryxx_zaizhi"  label="在职情况" show-overflow-tooltip width="">
		<template slot-scope="scope">
			<el-tag type="success" v-if="scope.row.ryxx_zaizhi == '1'" size="mini" effect="dark">在职</el-tag>
			<el-tag type="danger" v-if="scope.row.ryxx_zaizhi == '2'" size="mini" effect="dark">离职</el-tag>
		</template>
	</el-table-column>
	<el-table-column align="center"  property="ryxx_khh"  label="开户银行" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column align="center"  property="ryxx_yhkh"  label="银行卡号" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column :fixed="ismobile()?false:'right'" label="操作" align="center" width="190">
		<template slot-scope="scope">
			<div v-if="scope.row.ryxx_id">
				<el-button v-if="checkPermission('/shop/Ryxx/update.html','{:implode(",",session("shop.access"))}','{:session("shop.role_id")}',[1])" size="mini" icon="el-icon-edit" type="primary" @click="update(scope.row)" >修改</el-button>
				<el-button v-if="checkPermission('/shop/Ryxx/delete.html','{:implode(",",session("shop.access"))}','{:session("shop.role_id")}',[1])" size="mini" icon="el-icon-delete" type="danger" @click="del(scope.row)" >删除</el-button>
			</div>
		</template>
	</el-table-column>
</el-table>
<Page :total="page_data.total" :page.sync="page_data.page" :limit.sync="page_data.limit" @pagination="index" />
</el-card>

<!--添加-->
<Add :show.sync="dialog.addDialogStatus" size="small" @refesh_list="index"></Add>
<!--修改-->
<Update :info="updateInfo" :show.sync="dialog.updateDialogStatus" size="small" @refesh_list="index"></Update>
<!--查看详情-->
<Detail :info="detailInfo" :show.sync="dialog.detailDialogStatus" size="small" @refesh_list="index"></Detail>

</div>

{/block}
{block name="script"}
<script src="__PUBLIC__/assets/js/app.js"></script>
<script src="__PUBLIC__/assets/libs/vuedragable/Sortable.min.js"></script>
<script src="__PUBLIC__/assets/libs/vuedragable/vuedraggable.umd.min.js"></script>
<script src="__PUBLIC__/components/shop/ryxx/add.js?v=<?php echo rand(1000,9999)?>"></script>
<script src="__PUBLIC__/components/shop/ryxx/update.js?v=<?php echo rand(1000,9999)?>"></script>
<script src="__PUBLIC__/components/shop/ryxx/detail.js?v=<?php echo rand(1000,9999)?>"></script>
<script>
new Vue({
	el: '#app',
	components:{
		'draggable':window.vuedraggable,
	},
	data: function() {
		return {
			dialog: {
				addDialogStatus : false,
				updateDialogStatus : false,
				detailDialogStatus : false,
			},
			searchData:{},
			button_group:[
				{name:'添加',color:'success',access:'/shop/Ryxx/add.html',icon:'el-icon-plus',disabled:'',clickname:'add'},
				{name:'修改',color:'primary',access:'/shop/Ryxx/update.html',icon:'el-icon-edit',disabled:'single',clickname:'update'},
				{name:'删除',color:'danger',access:'/shop/Ryxx/delete.html',icon:'el-icon-delete',disabled:'multiple',clickname:'del'},
				{name:'查看详情',color:'info',access:'/shop/Ryxx/detail.html',icon:'el-icon-view',disabled:'single',clickname:'detail'},
			],
			loading: false,
			page_data: {
				limit: 20,
				page: 1,
				total:20,
			},
			order:'',
			sort:'',
			ids: [],
			single:true,
			multiple:true,
			search_visible:false,
			list: [],
			updateInfo:{},
			detailInfo:{},
		}
	},
	methods:{
		index(){
			let param = {limit:this.page_data.limit,page:this.page_data.page,order:this.order,sort:this.sort}
			Object.assign(param, this.searchData,this.urlobj)
			this.loading = true
			axios.post(base_url + '/Ryxx/index',param).then(res => {
				if(res.data.status == 200){
					this.list = res.data.data.data
					this.page_data.total = res.data.data.total
					this.loading = false
				}else{
					this.$message.error(res.data.msg);
				}
			})
		},
		updateExt(row,field){
			if(row.ryxx_id){
				axios.post(base_url + '/Ryxx/updateExt',{ryxx_id:row.ryxx_id,[field]:row[field]}).then(res => {
					if(res.data.status == 200){
						this.$message({message: res.data.msg, type: 'success'})
					}else{
						this.$message.error(res.data.msg)
					}
				})
			}
		},
		add(){
			this.dialog.addDialogStatus = true
		},
		update(row){
			let id = row.ryxx_id ? row.ryxx_id : this.ids.join(',')
			axios.post(base_url + '/Ryxx/getUpdateInfo',{ryxx_id:id}).then(res => {
				if(res.data.status == 200){
					this.dialog.updateDialogStatus = true
					this.updateInfo = res.data.data
				}else{
					this.$message.error(res.data.msg)
				}
			})
		},
		del(row){
			this.$confirm('确定操作吗?', '提示', {
				confirmButtonText: '确定',
				cancelButtonText: '取消',
				type: 'warning'
			}).then(() => {
				let ids = row.ryxx_id ? row.ryxx_id : this.ids.join(',')
				axios.post(base_url + '/Ryxx/delete',{ryxx_id:ids}).then(res => {
					if(res.data.status == 200){
						this.$message({message: res.data.msg, type: 'success'})
						this.index()
					}else{
						this.$message.error(res.data.msg)
					}
				})
			}).catch(() => {})
		},
		detail(row){
			this.dialog.detailDialogStatus = true
			this.detailInfo = {ryxx_id:row.ryxx_id ? row.ryxx_id : this.ids.join(',')}
		},
		selection(selection) {
			this.ids = selection.map(item => item.ryxx_id)
			this.single = selection.length != 1
			this.multiple = !selection.length
		},
		handleRowClick(row, rowIndex,event){
			if(event.target.className !== 'el-input__inner'){
				this.$refs.multipleTable.toggleRowSelection(row)
			}
		},
		rowClass ({ row, rowIndex }) {
			for(let i=0;i<this.ids.length;i++) {
				if (row.ryxx_id === this.ids[i]) {
					return 'rowLight'
				}
			}
		},
		sortChange(val){
			if(val.order == 'descending'){
				this.order= 'desc'
			}
			if(val.order == 'ascending'){
				this.order= 'asc'
			}
			this.sort = val.prop
			this.index()
		},
		back(){
			history.back(-1)
		},
		fn(method){
			this[method](this.ids)
		},
	},
	mounted(){
		this.index()
	},
})
</script>
{/block}
