{extend name='common/container'}
{block name="content"}
<div style="margin:0 15px 15px 15px;">
<el-card shadow="never" style="min-height:650px;">
<div v-if="search_visible" id="search" class="search">
	<el-form ref="form" size="small" :model="searchData" inline>
		<el-form-item label="开始月份">
			<el-input id="scys_ksyf" v-model="searchData.scys_ksyf"  style="width:150px;" placeholder="请输入开始月份"></el-input>
		</el-form-item>
		<el-form-item label="结束月份">
			<el-input id="scys_jsyf" v-model="searchData.scys_jsyf"  style="width:150px;" placeholder="请输入结束月份"></el-input>
		</el-form-item>
		<el-form-item label="建筑类型">
			<el-select   style="width:150px" v-model="searchData.jflx_id" filterable clearable placeholder="请选择">
				<el-option v-for="(item,i) in jflx_id" :key="i" :label="item.key" :value="item.val"></el-option>
			</el-select>
		</el-form-item>
		<el-form-item label="生成楼宇">
			<el-select   style="width:150px" v-model="searchData.louyu_id" filterable clearable placeholder="请选择">
				<el-option v-for="(item,i) in louyu_id" :key="i" :label="item.key" :value="item.val"></el-option>
			</el-select>
		</el-form-item>
		<el-form-item label="费用种类">
			<el-select   style="width:150px" v-model="searchData.fydy_id" filterable clearable placeholder="请选择">
				<el-option v-for="(item,i) in fydy_id" :key="i" :label="item.key" :value="item.val.toString()"></el-option>
			</el-select>
		</el-form-item>
		<search-tool :search_data.sync="searchData" @refesh_list="index"></search-tool>
	</el-form>
</div>
<div class="btn-group" style="margin-top:10px;margin-bottom:10px;">
	<div>
		<el-button v-for="item in button_group" :key="item.access" v-if="checkPermission(item.access,'{:implode(',',session('shop.access'))}','{:session('shop.role_id')}',[1])" :disabled="$data[item.disabled]" :type="item.color" size="mini" :icon="item.icon" @click="fn(item.clickname)">
			<span v-if="item.batch" v-text="$data['batchUpdateStatus']?'批量保存':'批量编辑'"></span>
			<span v-else v-text="item.name"></span>
		</el-button>
	</div>
	<div><table-tool :search_visible.sync="search_visible"   @refesh_list="index"></table-tool></div>
</div>
<el-table :row-class-name="rowClass" @selection-change="selection"  @row-click="handleRowClick"  row-key="scys_id"  :header-cell-style="{ background: '#eef1f6', color: '#606266' }" @sort-change='sortChange' v-loading="loading"  ref="multipleTable" border class="eltable" :data="list"  style="width: 100%">
	<el-table-column align="center" type="selection" width="42"></el-table-column>
	<el-table-column align="center" type = '' property="scys_id"  label="编号"  width="70">
	</el-table-column>
	<el-table-column align="center"  property="scys_ksyf"  label="开始月份" show-overflow-tooltip width="120">
		<template slot-scope="scope">
			{{parseTime(scope.row.scys_ksyf,'{y}-{m}-{d}')}}
		</template>
	</el-table-column>
	<el-table-column align="center"  property="scys_jsyf"  label="结束月份" show-overflow-tooltip width="120">
		<template slot-scope="scope">
			{{parseTime(scope.row.scys_jsyf,'{y}-{m}-{d}')}}
		</template>
	</el-table-column>
	<el-table-column align="center"  property="jflx.jflx_name"  label="建筑类型" show-overflow-tooltip width="120">
	</el-table-column>
	<el-table-column align="center"  property="louyu_id"  label="生成楼宇" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column align="center"  property="fydy.fydy_name"  label="费用标准" show-overflow-tooltip width="">
	</el-table-column>
	<el-table-column :fixed="ismobile()?false:'right'" label="操作" align="center" width="310">
		<template slot-scope="scope">
			<div v-if="scope.row.scys_id">
				<el-button v-if="checkPermission('/shop/Scys/update.html','{:implode(",",session("shop.access"))}','{:session("shop.role_id")}',[1])" size="mini" icon="el-icon-edit" type="primary" @click="update(scope.row)" >重新生成</el-button>
				<el-button v-if="checkPermission('/shop/Scys/delete.html','{:implode(",",session("shop.access"))}','{:session("shop.role_id")}',[1])" size="mini" icon="el-icon-delete" type="danger" @click="del(scope.row)" >删除</el-button>
				<el-button v-if="checkPermission('/shop/Scys/dialogUrl.html','{:implode(",",session("shop.access"))}','{:session("shop.role_id")}',[1])" size="mini" icon="el-icon-plus" type="warning" @click="dialogUrl(scope.row)" >批次详情</el-button>
			</div>
		</template>
	</el-table-column>
</el-table>
<Page :total="page_data.total" :page.sync="page_data.page" :limit.sync="page_data.limit" @pagination="index" />
</el-card>

<!--生成应收-->
<Add :show.sync="dialog.addDialogStatus" size="small" @refesh_list="index"></Add>
<!--生成应收-->
<Checkboxadd :show.sync="dialog.checkboxAddDialogStatus" size="small" @refesh_list="index"></Checkboxadd>
<!--重新生成-->
<Update :info="updateInfo" :show.sync="dialog.updateDialogStatus" size="small" @refesh_list="index"></Update>
<!--批次详情-->
<DialogUrl :info="dialogUrlInfo" :show.sync="dialog.dialogUrlDialogStatus" size="small"></DialogUrl>

</div>

{/block}
{block name="script"}
<script src="__PUBLIC__/assets/js/app.js"></script>
<script src="__PUBLIC__/components/shop/scys/add.js?v=<?php echo rand(1000,9999)?>"></script>
<script src="__PUBLIC__/components/shop/scys/checkboxAdd.js?v=<?php echo rand(1000,9999)?>"></script>
<script src="__PUBLIC__/components/shop/scys/update.js?v=<?php echo rand(1000,9999)?>"></script>
<script src="__PUBLIC__/components/shop/scys/dialogUrl.js?v=<?php echo rand(1000,9999)?>"></script>
<script>
new Vue({
	el: '#app',
	components:{
	},
	data: function() {
		return {
			dialog: {
				addDialogStatus : false,
				checkboxAddDialogStatus : false,
				updateDialogStatus : false,
				dialogUrlDialogStatus : false,
			},
			searchData:{},
			button_group:[
				{name:'生成应收',color:'success',access:'/shop/Scys/add.html',icon:'el-icon-plus',disabled:'',clickname:'add'},
				{name:'多选生成应收',color:'primary',access:'/shop/Scys/checkboxAdd.html',icon:'el-icon-plus',disabled:'',clickname:'checkboxAdd'},
			],
			loading: false,
			page_data: {
				limit: 20,
				page: 1,
				total:20,
			},
			order:'',
			sort:'',
			ids: [],
			single:true,
			multiple:true,
			search_visible:false,
			list: [],
			jflx_id: [],
			louyu_id: [],
			fydy_id: [],
			updateInfo:{},
			dialogUrlInfo:{},
		}
	},
	methods:{
		index(){
			let param = {limit:this.page_data.limit,page:this.page_data.page,order:this.order,sort:this.sort}
			Object.assign(param, this.searchData,this.urlobj)
			this.loading = true
			axios.post(base_url + '/Scys/index',param).then(res => {
				if(res.data.status == 200){
					this.list = res.data.data.data
					this.page_data.total = res.data.data.total
					this.loading = false
					if(this.page_data.page == 1){
						this.jflx_id = res.data.sql_field_data.jflx_ids
						this.louyu_id = res.data.sql_field_data.louyu_ids
						this.fydy_id = res.data.sql_field_data.fydy_ids
					}
				}else{
					this.$message.error(res.data.msg);
				}
			})
		},
		updateExt(row,field){
			if(row.scys_id){
				axios.post(base_url + '/Scys/updateExt',{scys_id:row.scys_id,[field]:row[field]}).then(res => {
					if(res.data.status == 200){
						this.$message({message: res.data.msg, type: 'success'})
					}else{
						this.$message.error(res.data.msg)
					}
				})
			}
		},
		add(){
			this.dialog.addDialogStatus = true
		},
		checkboxAdd(){
			this.dialog.checkboxAddDialogStatus = true
		},
		update(row){
			let id = row.scys_id ? row.scys_id : this.ids.join(',')
			axios.post(base_url + '/Scys/getUpdateInfo',{scys_id:id}).then(res => {
				if(res.data.status == 200){
					this.dialog.updateDialogStatus = true
					this.updateInfo = res.data.data
				}else{
					this.$message.error(res.data.msg)
				}
			})
		},
		del(row){
			this.$confirm('确定操作吗?', '提示', {
				confirmButtonText: '确定',
				cancelButtonText: '取消',
				type: 'warning'
			}).then(() => {
				let ids = row.scys_id ? row.scys_id : this.ids.join(',')
				axios.post(base_url + '/Scys/delete',{scys_id:ids}).then(res => {
					if(res.data.status == 200){
						this.$message({message: res.data.msg, type: 'success'})
						this.index()
					}else{
						this.$message.error(res.data.msg)
					}
				})
			}).catch(() => {})
		},
		dialogUrl(row){
			let ids = row.scys_id ? row.scys_id : this.ids.join(',')
			let data = {}
			this.list.forEach((item,i) => {
				if(item.scys_id == ids){
					data = this.list[i]
				}
			})
			this.dialogUrlInfo = data
			this.dialog.dialogUrlDialogStatus = true
		},
		selection(selection) {
			this.ids = selection.map(item => item.scys_id)
			this.single = selection.length != 1
			this.multiple = !selection.length
		},
		handleRowClick(row, rowIndex,event){
			if(event.target.className !== 'el-input__inner'){
				this.$refs.multipleTable.toggleRowSelection(row)
			}
		},
		rowClass ({ row, rowIndex }) {
			for(let i=0;i<this.ids.length;i++) {
				if (row.scys_id === this.ids[i]) {
					return 'rowLight'
				}
			}
		},
		sortChange(val){
			if(val.order == 'descending'){
				this.order= 'desc'
			}
			if(val.order == 'ascending'){
				this.order= 'asc'
			}
			this.sort = val.prop
			this.index()
		},
		fn(method){
			this[method](this.ids)
		},
	},
	mounted(){
		this.index()
	},
})
</script>
{/block}
